mat-toolbar {
    display: flex;
    align-items: center;
    gap: 14px;

    #logo {
        max-width: 100px;
        transform: translateY(-3px)
    }
}

.main {
    padding-left: 16px;
    padding-top: 16px;
}