@use '@angular/material' as mat;

mat-toolbar {
    display: flex;
    align-items: center;
    gap: 14px;
    border-bottom: 1px solid grey;

    .link {
        cursor: pointer;
        &:hover, &.active {
            font-weight: bold;
            border-bottom: 1px solid black;
        }
    }

    #logo {
        max-width: 100px;
        transform: translateY(-3px);
    }

    .spacer {
        flex-grow: 1;
    }
}

.main {
    padding-left: 16px;
    padding-top: 16px;

    width: calc(100% - 32px);
}